  <!-- <div class="col-6">
    <ul *ngIf="orders$|async as order" class="list-group list-group-flush">
      <li *ngFor="let order of order" class="list-group-item">

      </li>
    </ul>
  </div> -->

  <div *ngIf="orders$|async as orders">
      <table class="table">
          <thead>
            <tr>
              <th>Customer</th>
              <th >Date</th>
              <th >Details</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of orders">
              <td>{{order.shipping.clientName}}</td>
              <td>{{order.datePlaced|date:'shortTime'}}</td>
              <td><a href="">View</a></td>
            </tr>
          </tbody>
        </table>
  </div>